.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #cfae5a
}

.aboutMe {
  padding: 0;
  margin: 0;
  background-color: #E5E5E5;
  
  

}
.aboutMeContainer {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 20vw;
  padding-right: 20vw;
  display: flex;
  flex-wrap: wrap;
  
}

.aboutMeImage {
 padding: 0;
 margin: 0;
 /* width: 400px;
 height: 533px; */
}

.aboutMeHeader {
  padding: 0;
  margin: 0;
  font-size: 37px;
  font-family: B612;
  font-weight: bold;
  color: #242F40
  

}

.aboutMeBody {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  padding-top: 20px;
  min-width: 450px;
  color: #242F40
  
  
}
.aboutMeText {
  padding: 0;
  width: 500px;
  margin: auto
  /* float: right; */
  
}

#dimmer
{
    background:#000;
    opacity:0.5;
    position:fixed; /* important to use fixed, not absolute */
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    z-index:1; /* may not be necessary */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.websiteBody {
  background-color: #00cc99;
  padding: 0;
  margin: 0;
}

.footerContainer {
  background-color: #242F40;
  height: 100px;
  text-align: center;
}

.footerEmail {
  color: #E5E5E5;
  text-align: center;
  padding-top: 15px;
  font-weight: 700;
}

.footerGmailImage {
  width: 30px;
  height: 30px;
  margin: 10px;
  margin-bottom: 0px;
}
.footerLinkedInImage {
  width: 30px;
  height: 30px;
  margin: 10px;
  margin-bottom: 0px;
}
.portraitHeader {
  text-align: left;
  color: white;
  font-family: B612;
  font-size: 5vw;
  height: 20vh;
  
}
.headerContainer {
  
  padding-left: 8vw;
  padding-top: 30vh
  
}
.pageQuadrant {
  
  max-height: 100vh;
}

.skills {
  background-color: #242F40;
  min-height: 100vh;
  margin: 0;
  padding-left: 10vw;
  padding-right: 10vw;
}

.skillsHeader {
  padding-top: 150px;
  margin:0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 300%;
  font-family: B612;
  color: rgb(255, 255, 255)
  
}

.skillItem {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  margin-top: 25px;
  padding-bottom: 100px;
  margin-bottom: 50px;
  align-items: center;
  width: 300px;
  position: relative
  
}
.skillImage {
  margin-top: 90px;
  border-radius: 15vh;
  border: 3px solid;
  border-color: rgb(255,255,255);
  width: 100px;
  height: 100px;
  position: absolute;
  transition: width 0.1s, height 0.1s, top 0.1s
}
.skillImage:hover {
  width: 120px;
  height: 120px
  
}
.skillLabel {
  font-size: 150%;
  font-family: B612;
  font-weight: 500;
  color: #cca43b;
  width: 300px;
  text-align: center;
}



.skillDescription {
  font-size: 100%;
  padding: 20px;
  color: #E5E5E5;
  margin: 0;
  padding-top: 5px;
  background-color: #39455eee; /*#536177ee*/
  text-align: left;
}

.skillDialogContainer {
  padding-right: 0;
  position: fixed;
  margin-top: 50vh;
  margin-left: 50vw;
  text-align: center;
  z-index: 2;
  
  /* transition: position 0.1s; */
}
.skillDialogTitle {
  font-size: 200%;
  color: #E5E5E5;
  padding: 5px;
  margin: 0;
  background-color: #39455eee;
  
}
.skillDialogButton {
  background-color: #ddc869ee;
  font-size: 100%;
  font-weight: 900;
  width: 100px;
  margin: 0;
  padding: 5px;
  color: #242F40;
  border: none;
  text-align: center;
}

.ui-dialog {
  margin: auto;
  position: absolute;
}

.skillsSubHeader {
  text-align: center;
  color: white;
  margin-bottom: 50px;
  font-size: 110%;
  font-weight: 500;
  font-family: B612
}
.resumeButton {
  background-color: transparent;
    outline: none;
    border-color: white;
    color: white;
    font-size: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 8vw;
    margin-top: 5vh;
    font-weight: 600;
    transition: color 0.1s, border-color 0.1s;
    position: relative;
}

.resumeButton:hover {
  color: rgb(204, 164, 59);
  border-color: rgb(204, 164, 59);
  }

  .skillContainer {
    width: 390px;

  }
  .skillInfographic {
    display: flex;
    flex-wrap: wrap;
    background-color: #E5E5E5;
    margin: auto;
    width: 800px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 150px;
    flex: 1
    
  }
  .skill {
    display: table;
    font-weight: 700;
    width: 350px;
    padding: 20px;
    color: #E5E5E5;
    font-size: 25px;
    transition: transform 0.02s
    
  }
  .skill:hover {
    transform: scale(1.01);
    
  }
  .skillHeader {
    display: table-cell;
    vertical-align: middle;
  }
  .skillIcon {
    display: table-cell;
    margin: auto;
  }

@media only screen and (max-width: 800px) {
  [class*="resume"] {
    font-size: 100%
  }
  [class*="aboutMeImage"] {
    width: 225px;
    height: 310px;
    align-self: center;
  }
  [class="aboutMeContainer"] {
    flex-direction: column;
    justify-content: center;
    margin: none;
    padding-left: 10px;
    padding-right: 10px
  }
  [class="aboutMeBody"] {
    align-items: center;
    min-width: 200px;
    max-width: 400px;
    
  }
  [class="aboutMeText"] {
    padding-top: 40px;
    margin-left: none;
    margin-right: none;
    width: 400px;
    transform: scale(0.9);
  }
  [class="skillInfographic"] {
    flex-direction: column;
    align-content: center;
    width: 310px;
  }
  [class="skillContainer"] {
    width: 300px;
  }
  [class="skill"] {
    width: 260px;
  }
  [class="ui-dialog-content"] {
    width: 300px;
    transform: translateX(100px); 
  }
}