.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.aboutMe {
  height: 100vh;
  padding: 0;
  margin: 0;
  

}
.aboutMeImage {
 padding: 0;
 padding-left: 20vw;
 margin: 0;
 width: 400px;
 height: 533px;
 padding-top: 25vh;
 
}

.aboutMeHeader {
  padding: 0;
  padding-bottom: 20px;
  margin:0;
  text-align: center;
  font-size: calc(30px + 2vmin);
  font-family: B612;
  max-width: 600px;
  font-weight: bold;
  

}

.aboutMeBody {
  padding: 0;
  margin: 0;
  max-width: 600px;
  font-weight: 600;
  
  
}
.aboutMeText {
  padding: 0;
  padding-right: 20vw;
  padding-top: 25vh;
  margin: 0;
  float: right;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.websiteBody {
  background-color: #00cc99;
  padding: 0;
  margin: 0;
}

.portraitHeader {
  text-align: left;
  color: white;
  font-family: B612;
  font-size: 5vw;
  height: 20vh;
  
}
.headerContainer {
  
  padding-left: 8vw;
  padding-top: 30vh
  
}
.pageQuadrant {
  
  max-height: 100vh;
}

.skills {
  background-color: rgb(24, 24, 24);
  height: 100vh;
  margin: 0;
  padding-left: 10vw;
  padding-right: 10vw;
}

.skillsHeader {
  padding: 0;
  padding-top: 10vh;
  margin:0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 8vh;
  font-family: B612;
  color: rgb(255, 255, 255)
  
}

.skillItem {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  width: 17vw;
  position: relative
  
}
.skillImage {
  border-radius: 15vh;
  border: 3px solid;
  border-color: rgb(255, 255, 255);
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 20px rgb(165, 165, 165);
  transition: width 0.3s, height 0.3s, position 0, top 0.3s
}
.skillImage:hover {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 70px;
}
.skillLabel {
  font-size: 200%;
  font-family: B612;
  font-weight: 500;
  color: rgb(228, 159, 56)
}

.skillContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skillDescription {
  font-size: 100%;
  padding: 5px;
  margin: 0;
  border: solid;
  border-top: none;
  padding-top: 5px;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.skillDialogContainer {
  position: absolute;
  padding: 0;
  top: 125vh;
  left: 25vw;
  margin: 0;
  text-align: center;
  width: 50vw;
  z-index: 1;
  border-radius: 10px;
  transform: translate(250px, 150px)
}
.skillDialogTitle {
  font-size: 200%;
  color: white;
  padding: 5px;
  margin: 0;
  border: solid;
  border-color: black;
  border-bottom-color: blue;
  background-color: rgb(43, 149, 214);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}
.dialogButton {
  background-color: darkslategray;
  color: white;
  text-align: left;
  border-radius: 5px;
  border-color: black;
}
.resumeButton {
  background-color: transparent;
    outline: none;
    border-color: white;
    color: white;
    font-size: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 8vw;
    margin-top: 5vh;
    font-weight: 600;
    transition: color 0.1s, border-color 0.1s;
    position: relative;
    

    
}

.resumeButton:hover {
  color: rgb(228, 159, 56);
  border-color: rgb(228, 159, 56);
  }

@media only screen and (max-width: 700px) {
  [class*="resume"] {
    font-size: 100%
  }
}