.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.websiteBody {
  background-color: #00cc99;
  padding: 0;
  margin: 0;
}

.portraitHeader {
  text-align: left;
  color: white;
  font-family: B612;
  
}
.headerContainer {
  font-size: 200%;
  padding-left: 10vh;
  padding-top: 30vh;
  height: 20vmin
}
.pageQuadrant {
  
  max-height: 100vh;
  
  
}
.resumeButton {
  background-color: transparent;
    outline: none;
    border-color: white;
    color: white;
    font-size: 200%;
    padding: 1vh;
    margin-left: 25vh;
    margin-top: 10vh;
    transition: color 0.1s, border-color 0.1s;
    position: relative;

    
}

.resumeButton:hover {
  color: cyan;
  border-color: cyan;
  
  
}